@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root {
		color-scheme: light dark;
		font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		margin: 0;
		display: flex;
		place-items: center;
		min-width: 320px;
		min-height: 100vh;

		background-attachment: fixed;
		background-image: url("/milkyway.jpg");
		background-size: cover;
	}

	a {
		color: var(--color-sky-700);
		text-decoration: inherit;
	}

	a:hover {
		color: var(--color-sky-400);
	}

	.dark a {
		color: var(--color-sky-400);
		text-decoration: inherit;
	}

	.dark a:hover {
		color: var(--color-sky-700);
	}

	#root {
		max-width: 1280px;
		margin: 0 auto;
		padding: 2rem;
	}
}
